olimex-stm32-p407/dhtxx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32l4r9ai-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p407/kmodule,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p407/kelf,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/lvgl,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
metro-m4/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/krndis,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/kostest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/nxterm,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/nxdemo,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
nucleo-l432kc/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/posix_spawn,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/elf,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
viewtool-stm32f107/tcpblaster,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f334-disco/powerled,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/nsh-ethernet,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/fb,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
imxrt1050-evk/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/bt,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/audio,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/module,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p407/module,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p407/zmodem,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
imxrt1050-evk/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/audio,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-k28f/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
photon/rgbled,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#imxrt1050-evk/libcxxtest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-l476rg/nxdemo,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/lvgl,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/max7219,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nrf52-pca10040/wdog,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/hciuart,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
imxrt1050-evk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
bambino-200e/max31855,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/max31855,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f334-disco/buckboost,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nrf52-pca10040/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
viewtool-stm32f107/ft80x,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
flipnclick-sam3x/nxlines,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc54628/lvgl,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
flipnclick-sam3x/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc54628/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f072-discovery/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc54628/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc54628/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc54628/fb,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/rndis,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
open1788/pdcurses,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f722-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mcb1700/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/ipl2,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f722-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/rndis,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/fb,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
pizero/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
olimex-stm32-h407/nsh_uext,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/apds9960,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
open1788/fb,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/fb,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/xbee-6lowpan,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/usb,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-l496zg/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
bambino-200e/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
same70-xplained/mrf24j40-starhub,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32l476vg-disco/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/mrf24j40-starhub,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f769i-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f769i-disco/nsh-ethernet,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#stm32f4discovery/testlibcxx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f334-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lc823450-xgevk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
b-l475e-iot01a/spirit-6lowpan,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
b-l475e-iot01a/spirit-starhub,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
b-l475e-iot01a/spirit-starpoint,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
b-l475e-iot01a/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/mrf24j40-6lowpan,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/mrf24j40-starpoint,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/mrf24j40-starhub,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/mrf24j40-starhub,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/mcp2515,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f072rb/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
stm32f051-discovery/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
photon/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
clicker2-stm32/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
xmc4500-relax/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f334r8/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f334r8/adc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
photon/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f334r8/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
twr-k64f120m/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-k66f/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-k66f/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-k64f/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
bambino-200e/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
bambino-200e/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sabre-6quad/smp,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
olimex-stm32-p407/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam4cmp-db/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/veml6070,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/buttons,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/rgbled,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
bambino-200e/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32l476-mdk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/xen1210,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/jlx12864g,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/audio_tone,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/userled,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32butterfly2/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32butterfly2/nshnet,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32butterfly2/nshusbhost,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/discover,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/telnetd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/webserver,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/rfid-rc522,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/canard,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/pseudoterm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-k64f/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-e407/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f746-ws/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
teensy-3.x/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f746-evalos,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f746-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f767-evalos,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-144/f767-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f411e-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f103-minimum/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/vnc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32l476vg-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-l476rg/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sabre-6quad/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
u-blox-c027/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpc4337-ws/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#launchxl-tms57004/nsh,CONFIG_ARMV7R_TOOLCHAIN_GNU_EABIx
#moxa/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
sama5d2-xult/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/ramtest,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/knsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/elf,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/dramboot,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
#sama5d4-ek/dramboot,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/bridge,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/ipv6,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d4-ek/at25boot,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
samd20-xplained/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
tm4c1294-launchpad/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
tm4c1294-launchpad/ipv6,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32_tiny/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32_tiny/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f746g-disco/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
saml21-xplained/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p207/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
open1788/nxlines,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
open1788/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
open1788/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
ntosd-dm320/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
ntosd-dm320/webserver,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
ntosd-dm320/nettest,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
ntosd-dm320/poll,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
ntosd-dm320/udp,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
dk-tm4c129x/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
dk-tm4c129x/ipv6,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/knxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/webserver,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/nettest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/nsh2,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/xmlrpc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/nxterm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/telnetd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/discover,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3240g-eval/dhcpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lincoln60/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lincoln60/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#lincoln60/thttpd-binfs,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
viewtool-stm32f107/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
viewtool-stm32f107/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
viewtool-stm32f107/highpri,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-kl25z/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
ea3152/ostest,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
olimex-lpc-h3131/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
sam4s-xplained/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
pcduino-a10/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
stm32f4discovery/nxlines,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/kostest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#stm32f4discovery/cxxtest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/elf,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/posix_spawn,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/ipv6,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f4discovery/pm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#stm32f4discovery/winbuild,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/hello,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/nx,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/demo,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
#sama5d3x-ek/nxwm,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/ov2640,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/nxplayer,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3x-ek/norboot,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
olimex-strp711/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
olimex-strp711/nettest,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
hymini-stm32v/usbserial,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
hymini-stm32v/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
hymini-stm32v/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
hymini-stm32v/nsh2,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
hymini-stm32v/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc2378/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
same70-xplained/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/netnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/mxtxplnd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
samv71-xult/vnxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
ekk-lm3s9b96/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s6965-ek/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s6965-ek/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s6965-ek/tcpecho,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s6965-ek/discover,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32vldiscovery/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
zkit-arm-1769/hello,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#zkit-arm-1769/thttpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
zkit-arm-1769/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
zkit-arm-1769/nxhello,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
efm32gg-stk3700/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
teensy-lc/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
samd21-xplained/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/nxlines,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/kostest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/nxtext,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mikroe-stm32f4/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#mikroe-stm32f4/fulldemo,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam4e-ek/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam4e-ek/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam4l-xplained/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
zp214xpa/nxlines,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
zp214xpa/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc1115/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
sama5d3-xplained/nsh,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
sama5d3-xplained/bridge,CONFIG_ARMV7A_TOOLCHAIN_GNU_EABIx
ea3131/usbserial,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
ea3131/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
#ea3131/pgnsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
c5471evm/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
c5471evm/nettest,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
c5471evm/httpd,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
teensy-3.x/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#shenzhou/thttpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
shenzhou/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
shenzhou/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-efm32g880f128-stk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s6432-s2e/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/usbserial,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/zmodem,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/hidmouse,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/nettest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/thttpd-binfs,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#olimex-lpc1766stk/slip-httpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#olimex-lpc1766stk/thttpd-nxflat,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-lpc1766stk/ftpc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s8962-ek/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm3s8962-ek/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
fire-stm32v2/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpc4330-xplorer/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpc4337-ws/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpc4357-evb/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpc4370-link2/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nutiny-nuc120/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
olimexino-stm32/can,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimexino-stm32/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimexino-stm32/tiny,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimexino-stm32/smallnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimexino-stm32/composite,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/nettest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/nsh2,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/telnetd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3220g-eval/dhcpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f3discovery/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f3discovery/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/lcd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/extflash,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32f429i-disco/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
arduino-due/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam4s-xplained-pro/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
freedom-kl26z/nsh,CONFIG_ARMV6M_TOOLCHAIN_GNU_EABIx
cloudctrl/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lm4f120-launchpad/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
tm4c123g-launchpad/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
maple/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
maple/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
maple/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
eagle100/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
eagle100/nettest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
eagle100/httpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#eagle100/nxflat,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f303re/adc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f303re/can,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f303re/pwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f4x1re/f411-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
nucleo-f4x1re/f401-nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mcu123-lpc214x/usbserial,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
mcu123-lpc214x/nsh,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
mcu123-lpc214x/usbmsc,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
mcu123-lpc214x/composite,CONFIG_ARM_TOOLCHAIN_GNU_EABIx
stm3210e-eval/usbserial,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/nsh2,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/nxterm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/pm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm3210e-eval/composite,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
twr-k60n512/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
efm32-g8xx-stk/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
kwikstik-k40/ostest,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-h405/usbnsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-h407/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
olimex-stm32-p107/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
stm32ldiscovery/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc1768/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
#lpcxpresso-lpc1768/thttpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc1768/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc1768/usbmsc,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
lpcxpresso-lpc1768/dhcpd,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
mbed/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam3u-ek/nx,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam3u-ek/nsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam3u-ek/knsh,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
sam3u-ek/nxwm,CONFIG_ARMV7M_TOOLCHAIN_GNU_EABIx
